body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  border: 1px solid #cacaca;
  line-height: 1.4em;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  background-color: #fafafb;
  color: #393939;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 40px;
  margin-right: 100px;
}